@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/global" as *;

.food {
  background-color: $primary-grey;
  border-radius: 1rem;
  display: flex;
  height: 10rem;
  margin-top: 1rem;
  color: $primary-black;
  &:hover {
    background-color: $primary-darker-grey;
    .food__photo {
      opacity: 0.3;
    }
    .food__info {
      color: $primary-white;
    }
  }
  &__photo {
    display: block;
    margin: 1rem;
    height: 8rem;
    width: 30%;
    object-fit: cover;
    border-radius: 1rem;
    &:hover {
      opacity: 0.3;
      color: $primary-color;
    }
  }
  &__info {
    margin: 1rem 1rem 1rem 0;
    width: 70%;
  }
  &__brand {
    font-size: 1.25rem;
  }
  &__name {
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
  }
  &__rating {
    display: flex;
    align-items: center;
  }
  &__rating-name {
    font-size: 0.8rem;
    padding-right: 0.5rem;
    width: 3rem;
  }
}
