@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/global" as *;

.food {
  background-color: $primary-grey;
  border-radius: 1rem;
  display: flex;
  height: 10.5rem;
  margin-top: 1rem;
  color: $primary-black;
  width: 100%;
  transition: all 0.3s ease;
  &:hover {
    background-color: $primary-darker-grey;
    transform: scale(1.03);
    .food__photo {
      opacity: 0.7;
    }
    .food__info {
      color: $primary-white;
      opacity: 0.7;
    }
    .food__cat-photo {
      opacity: 0.7;
    }
  }
  &:active {
    transform: scale(0.97);
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__photo {
    display: block;
    margin: 1rem;
    width: 30%;
    height: 8.5rem;
    object-fit: contain;
    border-radius: 1rem;
    background-color: $primary-white;
    &:hover {
      opacity: 0.3;
      color: $primary-color;
    }
  }
  &__info {
    margin: 1rem 1rem 1rem 0;
    width: 70%;
  }
  &__brand {
    font-size: 1.25rem;
  }
  &__name {
    font-size: 0.8rem;
  }
  &__rating {
    display: flex;
    align-items: center;
  }
  &__cat-photo {
    object-fit: cover;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1.5rem;
    margin: 0.25rem 0.25rem 0.25rem 0rem;
  }
  &__rating-name {
    font-size: 0.8rem;
    padding-right: 0.5rem;
    width: 3rem;
  }
}
.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Custom arrow */
.select-wrapper::after {
  content: "▼"; /* Unicode down arrow */
  font-size: 14px;
  color: gray;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Prevent click interference */
}

/* Hide the default arrow in older browsers */
.header__select::-ms-expand {
  display: none;
}
