@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/global" as *;

.fooddetail {
  background-color: $primary-grey;
  border-radius: 1rem;
  padding: 0.75rem;
  &__photo {
    margin: auto;
    width: 100%;
    height: 10rem;
    border-radius: 0.5rem;
    object-fit: contain;
    background-color: $primary-white;
  }
  &__brand {
    font-size: 1.25rem;
    padding: 0.5rem 0;
  }
  &__name {
    font-size: 1rem;
  }
  &__description {
    font-size: 0.8rem;
    padding-bottom: 1rem;
  }
  &__rating-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__rating {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  &__cat-photo {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 2.8rem;
    object-fit: cover;
    margin-right: 0.5rem;
  }
  &__comment {
    font-size: 0.8rem;
    margin-top: 0.2rem;
  }
  &__delete {
    margin-right: 0;
    height: 1.5rem;
    width: 1.5rem;
    transition: all 0.3s ease;
    &:hover {
      stroke: $primary-red;
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.97);
    }
  }
  &__delete-button {
    background-color: $primary-grey;
    border: none;
  }
  &__rating-right {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__rating-timestamp {
    font-size: 0.7rem;
    color: $primary-darker-grey;
  }
}
