@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/global" as *;

.form__textarea {
  height: 4rem;
  padding: 0.5rem 1rem;
  resize: none;
}
