@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixin" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

main {
  margin: 0 1.5rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.button {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 1.5rem;
  border: none;
  background-color: $primary-color;
  color: $primary-white;
  font-weight: 300;
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  &:hover{
    background-color: $primary-darker-grey;
    color: $primary-white;
    }
}
