$primary-color: #0b66db;
$primary-white: white;
$primary-black: black;
$primary-grey: #eaeaea;
$primary-darker-grey: #787878;
$primary-red: rgba(255, 98, 0, 0.861);
$secondary-green: rgba(200, 255, 192, 0.859);
$secondary-darker-green: rgba(9, 65, 0, 0.859);
$secondary-orange: rgba(255, 180, 133, 0.861);
$secondary-darker-orange: rgba(118, 27, 0, 0.861);
$secondary-blue: rgba(166, 219, 255, 0.859);
$secondary-darker-blue: rgba(0, 82, 149, 0.943);
